# all vars are defined by hand or defaulted by vars/app.yml
---

- include_vars: phpsite.yml

- set_fact:
    site: '{{ default_fpm_site | combine(phpsite) }}'
    onesite: '{{ default_fpm_site | combine(phpsite) }}'

- name: group
  group:
    name: '{{ site.group }}'
    state: present

- name: site user
  user:
    name: '{{ site.user }}'
    shell: /usr/sbin/nologin
    comment: 'php-fpm {{ site.user }}'
    home: /nonexistent
    create_home: no
    group: '{{ site.group }}'
    login_class: daemon
    state: present

- name: maintenance user
  user:
    name: '{{ site.maintainer }}'
    shell: /bin/sh
    home: '{{ site.home }}'
    comment: 'maintenance user for php {{ site.user }}'
    create_home: yes
    group: '{{ site.group }}'
  when: site.maintainer != ""

- name: mkdirs
  file:
    path: '{{ item }}'
    state: directory
    owner: '{{ site.maintainer }}'
    group: '{{ site.user }}'
    mode: '2770'
  with_items:
    - '{{ site.sessions_path }}'
    - '{{ site.tmp_dir }}'
    - '{{ site.upload_dir }}'
  when: item is match("^/.*")

- name: rsync home
  synchronize:
    compress: no
    dest: '{{ site.home }}/'
    src: '{{ site.id }}/home/'
  with_first_found:
    - 'files/{{ site.id }}/home'
    - skip: True
  register: rsync_home

- name: chown home
  file:
    state: directory
    owner: '{{ site.maintainer }}'
    group: '{{ site.group }}'
    recurse: yes
    path: '{{ site.home }}'
  when: rsync_home.changed

- name: site cron(s)
  cron: '{{ item }}'
  with_items: '{{ site.crons }}'

- name: phpapp git code
  git:
    dest: '{{ item.dest | default(site.rootdir) | regex_replace("^([^/])",site.home+"/\1") }}'
    repo: '{{ item.repo }}'
    umask: '{{ item.umask | default("0022") }}'
    version: '{{ item.version | default("master") }}'
    accept_hostkey: yes
    update: '{{ item.maj | default("no") }}'
    force: '{{ item.force | default("no") }}'
  with_items: '{{ site.gits }}'
  when: '"gits" in site'
  register: fpmgitdirs

- name: chown git code
  file:
    state: directory
    path: '{{ item.dest | default(site.rootdir) | regex_replace("^([^/])",site.home+"/\1") }}'
    recurse: yes
    owner: '{{ item.owner | default(site.maintainer) }}'
    group: '{{ item.group | default(site.group) }}'
    mode: '{{ item.mode | default("u=rwX,g=rX,o-rwx") }}'
  with_items: '{{ site.gits }}'
  when: '"gits" in site and fpmgitdirs.changed'

- name: phpapp config dir(s)
  file:
    state: directory
    path: '{{ item.dest | regex_replace("^([^/])",site.rootdir+"/\1") | regex_replace("/[^/]+$","") }}'
    mode: '0751'
    owner: '{{ item.owner | default(site.maintainer) }}'
    group: '{{ item.group | default(site.group) }}'
  with_items: '{{ site.configfiles }}'
  when: '"configfiles" in site'

- name: phpapp config files
  template:
    src: '{{ item.src }}'
    dest: '{{ item.dest | regex_replace("^([^/])",site.rootdir+"/\1") }}'
    mode: '{{ item.mode | default("0640") }}'
    owner: '{{ item.owner | default(site.maintainer) }}'
    group: '{{ item.group | default(site.group) }}'
    backup: yes
    force: '{{ force_write_config | default(False) }}'
  with_items: '{{ site.configfiles }}'
  when: '"configfiles" in site'

- name: site config
  template:
    src: fpm-site.conf.j2
    dest: '{{ fpm_pools_dir }}/{{ site.id }}.conf'
  notify: reload fpm

- name: nginx config
  include_role:
    name: criecm.nginx
    tasks_from: vhost.yml
  vars:
    vhost: '{{ site }}'
  when: 'site.webserver_role == "criecm.nginx"'

- name: apache config
  include_role:
    name: criecm.apache
    tasks_from: vhost.yml
  vars:
    vhost: '{{ site }}'
  when: 'site.webserver_role == "criecm.apache"'

