; {{ ansible_managed }}
[{{ site.id }}]
user = {{ site.user | default("_"+site.id) }}
group = {{ site.group | default("_"+site.id) }}

listen = {{ site.fcgisocket }}

{% if site.fcgisocket is match("\/.*") %}
listen.owner = {{ www_user }}
listen.group = {{ www_group }}
listen.mode = 660
{% else %}
listen.allowed_clients = {{ site.fcgisocket | regex_replace(":.*$","") }}
{% endif %}

pm = {{ site.pm }}
pm.max_children = {{ site.pm_max }}
pm.max_requests = {{ site.pm_max_requests }}
{% if site.pm is match("ondemand") %}
pm.process_idle_timeout = {{ site.pm_idle_timeout }}
{% else %}
pm.start_servers = {{ site.pm_start }}
pm.min_spare_servers = {{ site.pm_min }}
pm.max_spare_servers = {{ site.pm_max_spare }}
{% endif %}
pm.status_path = {{ site.fcgi_status_path }}
ping.path = {{ site.pingpath }}

chdir = {{ site.home | default("/home/"+site.id+"/"+site.id) }}

{% if site.debug %}
catch_workers_output = yes
{% endif %}

env[HOSTNAME] = {{ site.name }}
env[PATH] = {{ site.path | default("/bin:/usr/bin:/usr/local/bin") }}
env[TMP] = {{ site.tmp_dir }}
env[TEMP] = {{ site.tmp_dir }}
env[TMPDIR] = {{ site.tmp_dir }}

php_value[session.save_path] = {{ site.sessions_path }}
php_value[error_log] = {{ site.error_log }}
php_admin_value[upload_tmp_dir] = {{ site.upload_dir }}
php_admin_value[memory_limit] = {{ site.memory_limit }}M
php_admin_flag[display_errors] = {% if site.debug %}on{% else %}off{% endif %}

{% if site.limit_openbasedir %}
php_admin_value[open_basedir] = {{ site.home }}:{{ site.rootdir }}:{{ pear_path }}:/etc/ssl{% if site.open_basedir_add %}:{{ site.open_basedir_add }}
{% endif %}
{% endif %}

php_admin_value[post_max_size] = {{ ( site.upload_max_meg * 1.5 ) | int }}M
php_admin_value[upload_max_filesize] = {{ site.upload_max_meg }}M

{% for k, v in site.php_values.items() %}
php_value[{{ k }}] = {{ v }}
{% endfor %} 
{% for k, v in site.php_flags.items() %}
php_flag[{{ k }}] = {{ v }}
{% endfor %} 
{% for k, v in site.php_admin_values.items() %}
php_admin_value[{{ k }}] = {{ v }}
{% endfor %} 
{% for k, v in site.php_admin_flags.items() %}
php_admin_flag[{{ k }}] = {{ v }}
{% endfor %} 
